# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu

# --extra-index-url
transformers==4.1.1
streamlit